<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSourceMapping>
        <packageSource key="nuget.org">
            <package pattern="Mindbox.Analyzers.V3" />
            <package pattern="Mindbox.Data.Linq" />
            <package pattern="Mindbox.DiagnosticContext.*" />
            <package pattern="Mindbox.ExceptionsHandling*" />
            <package pattern="Mindbox.Expressions" />
            <package pattern="Mindbox.I18n*" />
            <package pattern="Mindbox.Quokka*" />
            <package pattern="*" />
        </packageSource>
        <packageSource key="github">
            <package pattern="Mindbox.*" />
            <package pattern="WebSiteScanner" />
        </packageSource>
    </packageSourceMapping>
    <packageSources>
        <add key="github" value="https://nuget.pkg.github.com/mindbox-cloud/index.json" />
    </packageSources>
    <activePackageSource>
        <add key="All" value="(Aggregate source)" />
    </activePackageSource>
</configuration>